# ==============================================================================
# Enterprise Data Analytics & Exploration Platform - Configuration
# ==============================================================================

# Path to raw UTF-16 LE CSV dataset file
DATA_FILE=./data/two.txt

# Path to SQLite database
DATABASE_FILE=./database/data.db

# Server Bindings
HOST=0.0.0.0
BACKEND_PORT=8001
FRONTEND_PORT=5173
